* {
  margin: 0;
  padding: 0;
}

.global {
  top: 0;
  padding: 15px;
  background-color: white;
  height: 100%;
  /* width: 95%; */
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.163);
}

.welcome {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  & .seach {
    display: flex;
    gap: 10px;
    /* padding-top: 30px; */

    & i {
      color: white;
      font-size: 30px;
      padding-top: 25px;
      margin-top: -5px;
      cursor: pointer;
    }

    & input {
      margin-top: 10px;
      width: 300px;
      height: 40px;
      border-radius: 30px;
      border: none;
      text-align: center;
      font-size: 20x;
      font-weight: bold;
    }
  }

  & .icons {
    display: flex;
    gap: 20px;

    & i {
      color: #043c77;
      border-radius: 60%;
      font-size: 15px;
      margin-top: 10px;
      padding: 10px;
      border-radius: 100px;
      border: 1px solid #043c77;
      height: fit-content;
    }
  }

  & .profil {
    display: flex;
    gap: 20px;

    & p {
      font-size: 16px;
      color: #043c77;
      line-height: 25px;
    }

    & img {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      margin-top: 10px;
      border: 1px solid rgb(160, 155, 155);
      border-radius: 50px;
    }
  }
}
